doctype 5
html(ng-app='asd')
  head
    title Steam Battle
    link(rel='stylesheet',
        href='/stylesheets/lib/bootstrap/bootstrap.min.css')
    link(rel='stylesheet',
        href='/stylesheets/bootstrap-fix.css')
    link(rel='stylesheet',
        href='/stylesheets/lib/bootstrap/bootstrap-responsive.min.css')
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href='/') Steam Battle
    div.container
      block content
    script(type='text/javascript',
        src='javascripts/lib/jquery-1.9.1.min.js')
    script(type='text/javascript',
        src='javascripts/lib/bootstrap/bootstrap.min.js')
    script(type='text/javascript',
        src='javascripts/lib/angular.min.js')
    != js('main')
